.Board {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  .container {
    position: relative;
    width: 680px;
    height: 680px;

    display: flex;
    flex-wrap: wrap;

    background-color: #502e0b;
    border-radius: 10rem;
    border: 40rem solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);

    .grid {
      width: 100%;
      height: 100%;

      background-color: #d6cfbc;

      .case {
        background-color: #825629;
        width: 60px;
        height: 60px;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        &.active {
          box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8) inset;
          background-color: #3998c1;
        }

        .black,
        .white {
          position: relative;
          width: 85%;
          height: 85%;
          border-radius: 100%;
          display: block;

          &.queen::before {
            content: "";
            background-image: url(./crown.svg);
            background-size: 65% 65%;
            background-position: center;
            background-repeat: no-repeat;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
          }

          &.black.queen::before {
            filter: invert(100%);
          }

          &::after {
            content: "";
            position: absolute;
            border-radius: 100%;
            width: 90%;
            height: 90%;
            left: 50%;
            z-index: 1;
            top: 50%;
            transform: translate(-50%, -50%);
          }
        }

        .black {
          background-color: #000;
          &::after {
            box-shadow: 0 0 4px #cacaca inset;
          }
        }
        .white {
          background-color: #fff;
          &::after {
            box-shadow: 0 0 4px #2b2b2b inset;
          }
        }
      }
    }
  }

  .infos-message {
    position: absolute;
    background-color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);

    h2 {
      font-weight: bold;
      padding: 20px;
      font-size: 20rem;
    }
  }

  .players-opponent {
    position: absolute;
    top: -100rem;
    left: 50%;
    transform: translateX(-50%);
    font-weight: bold;
    font-size: 15rem;
    text-transform: uppercase;

    h2 {
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.5s linear;
    }

    .versus {
      font-size: 1.5em;
      color: #c30c0c;
      font-weight: bolder;
    }

    .round {
      background-color: #fff;
      display: inline-block;
      width: 10px;
      height: 10px;
      border-radius: 100%;
      padding: 7px;
      margin-left: 10px;
    }

    .player {
      font-size: 20rem;
      padding: 10px;

      &.active {
        color: #100286;
      }
    }
  }

  .game-infos {
    position: absolute;
    bottom: -8em;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;

    button {
      padding: 1em;
      font-weight: bolder;
      text-transform: uppercase;
      display: block;
      box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.12);
      transition: all 0.25s linear;

      &:hover {
        background-color: #c30c0c;
        color: #fff;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3) inset;
      }

      &:focus {
        outline: none;
      }
    }
  }
}
